<% if @start_date.blank? || @end_date.blank? %>
  <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 180px);">
    <div class="card p-4" style="max-width: 400px; width: 100%;">
      <h4 class="mb-3 text-center">Select a Date Range</h4>
      <%= form_with url: dashboard_path, method: :get, local: true do |form| %>
        <div class="mb-3">
          <%= form.label :start_date, "Start Date", class: "form-label" %>
          <div class="input-group">
            <%= form.text_field :start_date, class: "form-control datepicker", required: true, value: (params[:start_date].presence || Date.current.strftime("%m/%d/%Y")) %>
            <span class="input-group-text datepicker-icon">
              <i class="bi bi-calendar-date"></i>
            </span>
          </div>
        </div>
        <div class="mb-3">
          <%= form.label :end_date, "End Date", class: "form-label" %>
          <div class="input-group">
            <%= form.text_field :end_date, class: "form-control datepicker", required: true, value: (params[:end_date].presence || Date.current.strftime("%m/%d/%Y")) %>
            <span class="input-group-text datepicker-icon">
              <i class="bi bi-calendar-date"></i>
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <%= form.submit "View Dashboard", class: "btn btn-main", data: { turbo: false }, onclick:"show_spinner()" %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
	<div class="container-fluid">
    <div class="row main-content-row">
      <div class="col-12 col-md-3 left-col">
        <div class="card mb-3 p-4">
          <h5 class="mb-3 text-center">Change the Date Range</h5>
          <%= form_with url: dashboard_path, method: :get, local: true do |form| %>
            <div class="mb-3">
              <%= form.label :start_date, "Start Date", class: "form-label" %>
              <div class="input-group">
                <%= form.text_field :start_date, class: "form-control datepicker", required: true, value: (params[:start_date].presence || Date.current.strftime("%m/%d/%Y")) %>
                <span class="input-group-text datepicker-icon">
                  <i class="bi bi-calendar-date"></i>
                </span>
              </div>
            </div>

            <div class="mb-3">
              <%= form.label :end_date, "End Date", class: "form-label" %>
              <div class="input-group">
                <%= form.text_field :end_date, class: "form-control datepicker", required: true, value: (params[:end_date].presence || Date.current.strftime("%m/%d/%Y")) %>
                <span class="input-group-text datepicker-icon">
                  <i class="bi bi-calendar-date"></i>
                </span>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <%= form.submit "Submit", class: "btn btn-main", data: { turbo: false }, onclick:"show_spinner()" %>
            </div>
          <% end %>
        </div>
        
        <div class="card p-4" id="filterCard">
          <h5 class="mb-2 text-center">Filters</h5>

          <div class="mb-3 d-flex flex-column align-items-center">
            <select id="sales-person-filter"
                    class="selectpicker btn-secondary filter-select"
                    multiple
                    data-actions-box="true"
                    title="Sales People"
                    data-selected-text-format="count"
                    data-count-selected-text="{0} people selected"
                    data-width="100%">
            </select>
          </div>

          <div class="mb-3 d-flex flex-column align-items-center">
            <select id="sales-person-filter"
              class="selectpicker btn-secondary filter-select"
              multiple
              data-actions-box="true"
              title="Sell Date"
              data-selected-text-format="count"
              data-count-selected-text="{0} dates selected"
              data-width="100%">
            </select>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-9 right-col">
        <div class="card dashboard-content">
          <div class="card-body" id="dashboardTabsContent">
            <div class="mb-1 d-flex justify-content-end">
              <button id="export-total-sales-chart" class="btn btn-main">Export to Excel</button>
            </div>
            
            <div id="total-sales-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>